html, body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  z-index: -1;
}

body nav.navbar {
  position: sticky;
  top:0;
  background-color: #353434e3;
  z-index: 2;
}

nav div a,nav li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 1em;
}

nav div a:hover, nav div a:focus,nav li a:hover, nav li a:focus {
  color: rgb(116, 112, 112);
  text-decoration: none;
}

/* body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
}

section{
  width: 100%;
  background-color: cornflowerblue;
  border: 1px solid rgba(238,238,238 ,1);
  border-radius: 5px;
  color: rgba(117,117,117 ,1);
  box-shadow: 5px 10px 20px -20px rgba(85,172,238 ,1);
}

ul.navbar {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
ul.navbar li {
  padding: 0px 15px;
}

ul.navbar li.contact {
  padding-right:10%; 
} */

#particles-js{
  position:relative;
  width: 100%;
  height: 195vh;
  background-color: #000000;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: 1;
}
