html, body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  z-index: -1;
}

body nav.navbar {
  position: sticky;
  top:0;
  background-color: #353434e3;
  z-index: 2;
}

nav div a,nav li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 1em;
}

nav div a:hover, nav div a:focus,nav li a:hover, nav li a:focus {
  color: rgb(116, 112, 112);
  text-decoration: none;
}

#particles-js{
  position:relative;
  width: 100%;
  height: 195vh;
  background-color: #000000;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: 1;
}