html, body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  z-index: -1;
}

body nav.navbar {
  position: sticky;
  top:0;
  background-color: #353434e3;
  z-index: 5;
}

nav div a,nav li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 1em;
}

nav div a:hover, nav div a:focus,nav li a:hover, nav li a:focus {
  color: rgb(116, 112, 112);
  text-decoration: none;
}

.contenair .profil{
  position: relative;
  z-index: 2;
}

.canvas {
  position: relative;
}

.canvas #particles-js{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#particles-js, #particles-js2{
  /* position:absolute; */
  /* width: 100%;
  height:100%; */
  /* height: 100vh; */
  background-color: #000000;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  /* z-index: 1; */
}

.contenair{
  position:relative;
  z-index: 1;
  width: 100%;
}

.row{
  margin: 0;
}

div.contenair div#exp{
  position: relative;
  background-color: #353434e3;
  z-index: 3;
  height: 80vh;
  vertical-align: middle;
}

div.contenair div#contact{
  position: relative;
  background-color: #353434e3;
  z-index: 3;
  height: 40vh;
  vertical-align: middle;
}