html, body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  z-index: -1;
}

body nav.navbar {
  position: sticky;
  top:0;
  background-color: #353434e3;
  z-index: 5;
}

nav div a,nav li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 1em;
}

nav div a:hover, nav div a:focus,nav li a:hover, nav li a:focus {
  color: rgb(116, 112, 112);
  text-decoration: none;
}

.contenair .profil h1{
  position: absolute;
  top: 50px;
  left:0;
  z-index: 6;
}

#particles-js{
  /* position:relative; */
  width: 100%;
  height:100%;
  /* height: 100vh; */
  background-color: #000000;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: 1;
}

#particles-js{
  /* position:relative; */
  width: 100%;
  height:100%;
  /* height: 100vh; */
  background-color: #000000;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: 1;
}

.contenair{
  position:relative;
  z-index: 1;
  width: 100%;
}

.row{
  margin: 0;
}

.contenair div.exp{
  background-color: red;
  z-index: 3;
  height: 60vh;
  vertical-align: middle;
}

.contenair div.contact{
  background-color: red;
    z-index: 3;
    height: 30vh;
    vertical-align: middle;
}

.portfolio, .profil{
    position:relative;
    width: 100%;
    height: 100vh;
    /* background-color: #000000; */
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 1;
}